.name {
  background-color: rgb(114, 87, 238);
}
.title {
  background-color: cornflowerblue;
}
.week {
  background-color: cyan;
}
.number {
  background-color: rgb(241, 139, 44);
}
.time {
  background-color: rgb(223, 201, 175);
}
.myclass {
  background-color: rgb(207, 231, 168);
}
.down {
  background-color: royalblue;
}

.downn {
  background-color: rgb(165, 177, 189);
}
