body {
    background-color: rgb(245, 245, 226);
}

section {
    width: 100%;
    height: 875px;
    background-color: rgb(245, 239, 233);
    border: 4px solid rgb(248, 235, 112);
}
.container {
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.heading {
    border: 3px solid rgb(250, 224, 110);
    border-bottom: 0;
  }