body{
    background-color: #FFFFFF;
    width: 1000px;
    height: 100%;
}
#img
{
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 300px;
}
#name{
    padding-top: 25px;
}
#top{
    width: 1000px;
    height: 270px;
    margin: auto;
}    
#middle{
    padding-left: 50px;

}
